.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right .fighter-preview___img {
  transform: scaleX(-1);
}

.fighter-preview___right .fighter-preview___container {
  color: red;
  height: 200px;
  color: red;
  height: 200px;
  display: flex;
  align-items: center;
}

.fighter-preview___left .fighter-preview___container {
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.fighter-preview___detail-info-block {
  border: 3px solid #ca9650;
  background-color: #ffdfa7;
  padding: 5px;
}

.detail-info-block__item {
  display: flex;
}

.detail-info-block__item-feature-name {
  width: 80px;
}

.detail-info-block__fighter-name {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.fighter-preview___left {
  align-items: flex-start;
}

.attack-animation-right {
  position: relative;
  animation-name: slideLeft;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.attack-animation-left {
  position: relative;
  animation-name: slideRight;
  animation-duration: 100ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideLeft {
  0% {
    right: 0;
  }

  50% {
    right: 250px;
  }

  100% {
    right: 0px;
  }
}

@keyframes slideRight {
  0% {
    left: 0;
  }

  50% {
    left: 250px;
  }

  100% {
    left: 0px;
  }
}